<?xml version="1.0" encoding="UTF-8"?>

<!-- 
	scan:
		当此属性设置为true时，配置文件如果发生改变，将会被重新加载，默认值为true。
	scanPeriod:
		设置监测配置文件是否有修改的时间间隔，如果没有给出时间单位，默认单位是毫秒。当scan为true时，此属性生效。默认的时间间隔为1分钟。
	debug:
		当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false。
 -->
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <!-- 上下文名称 -->
    <contextName>Log</contextName>
    <!-- 项目名 -->
    <property name="AppName" value="study"/>
    <!-- 日志文件路径 -->
    <property name="logPath" value="/var/log/reas"/>

    <!-- ConsoleAppender 控制台输出日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 对日志进行格式化 -->
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${AppName} %X{reqNo} %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>

    </appender>

    <!-- 按照每天生成日志文件 -->
    <appender name="logFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${AppName}_stdout.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${logPath}/${AppName}_stdout-%d{yyyyMMdd}.log</FileNamePattern>
            <MaxHistory>360</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 %X{logID}日志编号 -->
            <charset>UTF-8</charset>
            <pattern>${AppName} %X{reqNo} %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 根logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="logFile"/>
    </root>

</configuration>